:local(.btn) {
    position: relative;
    overflow: hidden;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    outline: none;
}
:local .btn:hover {
    opacity: 0.8
}
:local .btn:active {
    opacity: 0.5
}

:local(.btn-green) {
    composes: btn;
    background-color: #4CAF50;
}
:local(.btn-blue) {
    composes: btn;
    background-color: #008CBA;
}
:local(.btn-red) {
    composes: btn;
    background-color: #f44336;
}
:local(.btn-grey) {
    composes: btn;
    background-color: #e7e7e7;
}
:local(.btn-black) {
    composes: btn;
    background-color: #555555;
}


